*{
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    vertical-align: baseline;
    font-family: 'Quicksand', sans-serif;


}

body{
    background-image: url(../../assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* Inicio */
.emptyContainer{

display: flex;
flex-direction: column;
min-width: 50vw;
min-height: 100vh;
justify-content: center;

}

.empty{
   width: 600px;
   height: 300px;
   padding-top: 50px;
   align-self: center;
   
   margin-top: 2em;
    padding: Зem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.096);
    box-shadow: 0 8px 32px 0 rgba(95, 4, 122, 0.61);
    backdrop-filter: blur( 2px );
    border: 1px solid rgba(255, 255, 255, 0.164);

}
.titleName{
    color: rgb(102, 18, 102);
    font-size: 4rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(150, 23, 150);
    border-radius: 10px;
}


.emptyTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.emptyForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.emptyBtn{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/*Busqueda hecha  */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.fullForm{
    display: flex;
    justify-self: baseline;
    margin-top: 30px;
    width: 700px;
    height: 130px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding: Зem;
    border-radius: 10px;
    background: rgba(94, 79, 79, 0.226);
    box-shadow: 0 8px 32px 0 rgba(95, 4, 122, 0.61);
    backdrop-filter: blur( 2px );
    border: 1px solid rgba(255, 255, 255, 0.164);
}
.fullField{
    width: 20rem;
}
.fullBtn{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.currentContainer{
    height: 300px;
    width: 700px;
    display: flex;
    border-radius: 30px;
    margin-top: 2em;
    padding: Зem;
    border-radius: 10px;
    background: rgba(94, 79, 79, 0);
    box-shadow: 0 8px 32px 0 rgba(95, 4, 122, 0.61);
    backdrop-filter: blur( 2px );
    border: 1px solid rgba(255, 255, 255, 0.164);
    
    
}

.currentTempContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-left: 3px;
    border-right: 3px solid black;
    box-shadow: 5px 4px rgba(95, 4, 122, 0.61) ;
    border-radius: 20px;
    color: rgb(2, 0, 0);
    font-size: larger;
    font-weight: bolder;
    
    
    
}

.currentInfoContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 70%;
    font-size: 23px;
    font-weight: 900;
    color: rgb(9, 0, 17);
    
}

.downUp{
    display: flex;
    gap: 15px;
    
}
p{
    display: flex;
    justify-content: end;
    align-items: end;
    ;
}

.fl{
    color: rgb(145, 17, 145);
}

.clima{
    color: yellow;
    
}

.humidity{
    color: aqua;
}


.empty:hover{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.39);
    transition: .5s ease;
}

/* Error */
.errorEmpty{
    width: 600px;
   height: 300px;
   padding-top: 50px;
   align-self: center;
   
   margin-top: 2em;
    padding: Зem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.096);
    box-shadow: 0 8px 32px 0 rgba(95, 4, 122, 0.61);
    backdrop-filter: blur( 2px );
    border: 1px solid rgba(255, 255, 255, 0.164);


}
.errorEmptyContainer{
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    min-height: 100vh;
    justify-content: center;
    
}
.errorEmptyTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.titleErr{
    color: rgb(0, 0, 0);
    width: 23vw;   
    font-size: 1.6rem;
    margin-bottom: 1rem;
    border-bottom: 4px solid rgb(216, 11, 11);
    border-top: 4px solid rgb(216, 11, 11);
    border-radius: 2px;
}






@media screen and (max-width:800px){
   
    body{
background-size: 250dvh;
background-position: -500px;
margin: 0;
padding: 0;
}

/* Inicio */
.empty{
width: 300px;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;

}
    .emptyContainer{

        display: flex;
        flex-direction: column;
        min-width: 50vw;
        min-height: 100vh;;
        justify-content: center;
        }
        .titleName{
            font-size: 2.6rem;
        }

/* Resultado */
.fullForm{
    width: 350px;
}
.currentContainer{
    width: 350px;
    display: flex;
}
.currentTempContainer{
 font-size: 1.5rem;
    
}
.currentTempContainer h1{
    font-size: 2rem;
}
.currentInfoContainer{
    font-size: 1.5rem;
    gap: 20px;
    margin-left: 10px;
}
/* error */
.errorEmpty{
    width: 90vw;
    height: 400px;
}
.errorEmptyContainer{
max-width: 100vw;
}
.titleErr{
    width: 80vw;
}
}