.footer{
  display: flex;
  align-content: flex-end;
  margin-top: auto;
  color: black;
  min-width: 50vw;
  justify-content: center;
  margin-bottom: 2px;
  

}
p{
  font-weight: bolder;
  color: red;
}
.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

